{% extends 'base2.html.twig' %}

{% block title %}Mesmesures | Mesures{% endblock %}

{% block stylesheets %}
    <style>
        section { height:100%; overflow:auto; max-height:800px; }
        .titlePage { border-top: 5px solid #a73e1c; line-height:0; margin:0 0 60px; width:100%; padding: 0 20px; }
        .titlePage span { background-color: #2F3642; padding:0 20px; font-size:30px; padding-bottom:200px;  }
        .carte { background:#181C1F; border-radius:5px; padding:15px; box-shadow: 1px 1px 3px grey; }
        .carte .image img{ height:150px; width:150px; }
        .carte .title { color:#a73e1c; font-family:'gravtrac'; }
        .carte .content .submitButton { background: #a73e1c; margin-top:10px; color:white; border:none; padding:8px 15px; border-radius:3px; cursor:pointer; transition: background 0.1s ease; }
        .carte .content .submitButton:hover { background: #ca4c23; }
        .error { border:1px solid red; border-radius:3px; }

        .loading-bar {display: inline-block; width: 4px; margin-top:20px; margin-right:2px; height: 18px; border-radius: 4px; animation: loading 1s ease-in-out infinite;}
        .loading-bar:nth-child(1) {background-color: #a73e1c; animation-delay: 0; }
        .loading-bar:nth-child(2) {background-color: #a73e1c; animation-delay: 0.09s; }
        .loading-bar:nth-child(3) {background-color: #a73e1c; animation-delay: .18s; }
        .loading-bar:nth-child(4) { background-color: #a73e1c; animation-delay: .27s; }
        @keyframes loading { 0% { transform: scale(1); } 20% { transform: scale(1, 2.2); } 40% { transform: scale(1); } }

        @media screen and (max-width: 575px){
            .carte .image { text-align:center; }
        }
    </style>
{% endblock %}
{% block body %}
    <section class="m-0 p-5 bloc rounded">

        {# Titre de la page #}
        <div class="titlePage h2 text-center text-white">
            <span style="font-family:'gravtrac'">Il vous reste <span class="nombre-mesures p-0"> {{ mesures|length }} </span> mesures à inscrire</span>
        </div>

        {# Affichage de toutes les cartes #}
        <div class="row no-gutters">
            {% for mesure in mesures %}
                <div class="col-12 pr-3 pl-3 pt-2 pb-2 ligne">
                    <div class="carte">
                        <div class="d-flex row">
                            {# Image de la carte #}
                            <div class="image col-xl-2 col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <img src="{{ mesure.image }}" class="img-fluid" />
                            </div>

                            {# Zone d'entrée de la mesure #}
                            <div class="content p-2 col-xl-3 col-lg-8 col-md-8 col-sm-8 col-xs-12 align-items-center">
                                <h3 class="title">{{ mesure.name }}</h3>
                                <div class="input-zone position-relative">
                                    <form class="form-group">
                                        <input type="text" class="tailleInput form-control" placeholder="Insérez votre mesure" data-id="{{ mesure.id }}" />
                                        <input type="submit" class="submitButton" data-id="{{ mesure.id }}" value="Valider" />
                                    </form>
                                </div>
                            </div>

                            {# Zone de description de la zone de mesure #}
                            <div class="description col-xl-7 col-lg-12 col-md-12 col-12 text-white align-items-center">
                                <h3 class="title">Description</h3>
                                <p>{{ mesure.description }}.</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </section>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/jquery.js') }}"></script>
    {# Gestion du formulaire via le carousel #}
        <script  type="text/javascript">
            $('.submitButton').click(function(e){
                // Annulation de sa fonction de submit classique
                    e.preventDefault();

                // Recherche des variables qui nous interessent
                    var ligne = $(this).parents('.ligne'); 
                    var value = $(this).prev().val();
                    var id = $(this).prev().attr('data-id');
                    var load = '<div class="loading"> <div class="loading-bar"></div> <div class="loading-bar"></div> <div class="loading-bar"></div> <div class="loading-bar"></div> </div>';
                    
                // Enregistrement de la mesure
                    $.ajax({
                        url: '{{ path('nouvelle_mesure') }}',
                        type: 'post',
                        data: { value:value, id:id },
                        beforeSend: function(){
                            ligne.find('.bloc-retour').remove();
                            // Première vérification pour savoir si la value est vide
                            if(value === ''){
                                showMessage(ligne, "Votre mesure ne peux pas être vide.", 'border:1px solid red;');
                                return false;
                            } else {
                                ligne.find('form').append(load);
                                ligne.find('.input-zone .submitButton').hide();
                            }
                        },
                        success: function(response){
                            // Gestion switch animation d'attente => boutton de validation
                                ligne.find('form .loading').remove();
                                ligne.find('form .submitButton').show();

                            // Affichage de la réponse
                                if(response[0] === 'success'){
                                    showMessage(ligne, response[1], 'border:1px solid green;');
                                    // Suppression de la ligne en fondu normal
                                    ligne.fadeOut('fast', function(){ 
                                        $(this).remove(); 
                                    });
                                    refreshMesureRestantes();
                                } else if (response[0] === 'error'){
                                    showMessage(ligne, response[1], 'border:1px solid red;');
                                }
                        }
                    });
            });

            // Fonction retournant le nombre de mesure restantes cette semaine
                function refreshMesureRestantes(){
                    // Recherche du selecteur et du nombre
                        var $selector = $('.nombre-mesures');
                        var number = $selector.html();

                    // Effacement de sa donnée
                        $selector.empty().append(number-1);
                }

            // Affichage du message d'erreur lors d'une erreur dans le formulaire
                function showMessage($selector, $message, $styleBorder){
                    var window = '<div class="bloc-retour text-white position-absolute" style="display:none; bottom:90px; right:0; background:#2F3642;' + $styleBorder + ' padding:10px 20px;">';
                            window += $message;
                        window += '</div>';
                    $selector.find('form .tailleInput').addClass('error');
                    $selector.find('form').append(window);
                    $selector.find('.bloc-retour').fadeIn();
                }
        </script>
{% endblock %}
