{% extends 'base2.html.twig' %}

{% block title %}Mesmesures | Mesures{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('owl/dist/assets/owl.carousel.min.css') }}" /> 
    <link rel="stylesheet" href="{{ asset('owl/dist/assets/owl.theme.default.min.css') }}" /> 
    <style>
        section { height:100%; overflow:auto; max-height:800px; }
        #loading-spinner { display: inline; position: relative; z-index: 999999; }
        #loading-spinner .spin-icon { margin: auto; width: 40px; height: 40px; border: solid 3px transparent; border-top-color: #666; border-left-color: #666; border-radius: 80px; -webkit-animation: loading-spinner 500ms linear infinite; -moz-animation:    loading-spinner 500ms linear infinite; -ms-animation:     loading-spinner 500ms linear infinite; -o-animation:      loading-spinner 500ms linear infinite; animation:         loading-spinner 500ms linear infinite; }
        @-webkit-keyframes loading-spinner { 0%   { -webkit-transform: rotate(0deg);   transform: rotate(0deg); } 100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }
        @-moz-keyframes loading-spinner { 0%   { -moz-transform: rotate(0deg);   transform: rotate(0deg); } 100% { -moz-transform: rotate(360deg); transform: rotate(360deg); } }
        @-o-keyframes loading-spinner { 0%   { -o-transform: rotate(0deg);   transform: rotate(0deg); } 100% { -o-transform: rotate(360deg); transform: rotate(360deg); } }
        @-ms-keyframes loading-spinner { 0%   { -ms-transform: rotate(0deg);   transform: rotate(0deg); } 100% { -ms-transform: rotate(360deg); transform: rotate(360deg); } }
        @keyframes loading-spinner { 0%   { transform: rotate(0deg);   transform: rotate(0deg); } 100% { transform: rotate(360deg); transform: rotate(360deg); } }

        .carte .image img{ height:150px; width:150px; }
        
    </style>
{% endblock %}
{% block body %}
    <section class="m-0 p-0 bloc rounded">
        <div class="row col-12 d-flex justify-content-center mt-3 text-white" style="font-family: 'gravtrac'; font-size:18px;">
            <p class="text-center">Il vous reste <span class="nombre-mesures"> {{ mesures|length - nbMesure }} </span> mesures à inscrire</p>
        </div>
        <div class="row no-gutters">
            {% include 'mesure/carousel/carousel.html.twig' %}
        </div>
        <div class="row mt-5">
            <form class="form-group offset-4 col-4 text-center">
                <div class="message-form text-center"></div>
                <div class="input-zone row p-2 text-center"></div>
                <div class="submit-zone text-center"></div>
            </form>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('owl/dist/owl.carousel.min.js') }}" type="text/javascript"></script>

    {# Gestion du formulaire via le carousel #}
        <script  type="text/javascript">
            // Au clic sur un boutton du carousel
                $(document).ready(function(){
                    $('.card .btn .add-input').click(function(){
                        // Animation de carte selectionnée + apparition de l'input associé
                            var card = $(this).parent().parent().parent();
                            var check = card.parent().find('img.check');
                            var type = $(this).attr('data-type');
                            var inputZone = $('.input-zone');

                            if(!card.hasClass('selected')){
                                card.addClass('selected');
                                check.removeClass('d-none');
                                // Affichage des inputs
                                    inputZone.append('<input type="text" dataType="' + type + '" class="' + type + ' col-12 form-control" placeholder="' + type +  '" /> ');
                            } else {
                                card.removeClass('selected');
                                check.addClass('d-none');
                                inputZone.find('input[dataType="' + type + '"]').remove();
                            }

                            // Affichage du boutton submit
                                showButtonSubmit();
                    });
                });

                function showButtonSubmit(){
                    nbInputs = $('.inputZone input').length();
                    console.log(nbInputs);
                }

            
        </script>

    {# Carousel #}
        <script  type="text/javascript">
            $('.slider').owlCarousel({
                responsive: {
                    0: {
                        items: 2,
                        nav: true
                    },
                    600: {
                        items: 3,
                        nav: true
                    },
                    1000: {
                        items: 4,
                        nav: true,
                    },
                    1500: {
                        items: 5,
                        nav: true
                    }
                }
            });
        </script>
{% endblock %}
